<div id="footer" class="hidden-print">
  <section class="meta">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 next">
          <a href="https://github.com/{{ site.author.github }}">
            <i class="fa fa-github fa-4x"></i>
            <div>
              github
            </div>
          </a>
        </div>
          <a href='https://www.versioneye.com/user/projects/545a4b9a151e7fc7a0000024'><img src='https://www.versioneye.com/user/projects/545a4b9a151e7fc7a0000024/badge.svg?style=flat' alt="Dependency Status" /></a>
      </div>
    </div>
  </section>
</div>
